@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body{
    height:100%;
}
body{
    background:gainsboro;
    font-family:roboto ,sans-serif;
    color:#333;
    display:flex;
    align-items:center;

}
.header{
    font-weight:bold;
}
.icon{
    display:flex;
    background-color: lightcyan;
    width:48px; height:48px;
    border-radius:50%;
    align-items: center;
    color:#31408f;
    font-size:35px;
    justify-content: center;
    font-weight:800px;
}
.modal{
    display:flex;
    color:white;
    width:480px;
    border-radius:10px;
    box-shadow:2px 4px 16px rgba(0,0,0,.4);
}
.modal-container{
    display:inline-block;
   margin:15px; padding:15px;
}
.close-button{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    border-radius:70%;
    border:1px solid #eee;
}
