@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,body{
    height:100%;
}
body{
    background:gainsboro;
    font-family:roboto ,sans-serif;
    color:#333;
    display:flex;
    align-items:center;

}
.header{
    font-weight:bold;
}
.icon{
    display:flex;
    background-color: lightcyan;
    width:48px; height:48px;
    border-radius:50%;
    align-items: center;
    color:#31408f;
    font-size:35px;
    justify-content: center;
    font-weight:800px;
}
.modal{
    display:flex;
    color:white;
    width:480px;
    border-radius:10px;
    box-shadow:2px 4px 16px rgba(0,0,0,.4);
    background-color:rgb(187, 186, 186);
}
.modal-container{
    display:inline-block;
   margin:15px; padding:15px;
}
.close-button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border:1px solid #eee;
    padding:0px;
    font-weight:400;
    font-size:16px;
    height:24px; width:24px;
}
button{
    cursor:pointer; /* this makes the cursor a hand instead of the mouse*/
    padding:8px 16px;
    border-radius: 8px; /* gives it a nice black border and rounds it out*/
}
button.continue{
    background:rgb(112, 141, 230);
    border:solid 1px royalblue;
    color:white;
}
button.cancel{
    background:white;
    border:solid 1px royalblue;
    color:royalblue;
}
